html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d6b7b7;
background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.grid{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
}
.box{
    height: auto;
    width: 49%;
    margin: 0 auto;
    flex-grow: 1;
    transition: 1s all;
    position: relative;
}
.uno{
    text-align: center;
}
.uno div img{
    width: 100%;
    margin-top: 3.2rem;
}
.uno img:hover{
    cursor: pointer;
    transform: scale3d(1.1);
}
.footer{
    width: 100%;
    height: 3rem;
    background: black;
    position: fixed;
    color: black;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
}
@media only screen and (max-width: 780px){
    .box{
        width: 60%;
    }
    .footer{
        color: white;
    }

}